/*
var(--light-green) Background
var(--light-blue) Background
var(--beige) Cards
var(--purple) Text
#E4D1B9 container shadow
*/
:root{
  --light-blue: #57D2F4;
  --light-green: #57D25E;
  --beige: #ECE5C7;
  --purple: #800080;
  --shadow: grey;
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: black;
  background-size: cover;
}
.loader-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../public/images/pixel-horizon.png");
  color: white;
  width: 100%;
  height: 80%;
}
.loader-wrapper h1{
  text-shadow: -10px 10px 10px var(--shadow);
}
.loader-sprite{
  width: 300px;
  height: auto;
}
body{
  font-family: 'Press Start 2P', sans-serif;
  background: linear-gradient(var(--light-green), var(--light-blue));
}
.preload{
  overflow: hidden;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
}

/* Hero section styles */

.hero-wrapper{
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/images/Pixel_forest_day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 10px;
}
.nav-btn{
  background-color: var(--beige);
  border-radius: 18px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 4px 4px;
}
.nav-btn:hover{
  background-color: var(--purple);
}
.hero-section{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  margin-top: 10%;
  width: 550px;
  height: 250px;
  box-shadow: 23px 22px 10px -4px #E4D1B9;
}
.hero-title-container h1{
  margin: 5%;
  text-shadow: 0 4px 1px var(--shadow);
  color: var(--purple);
}
.hero-title-container img{
  height: 200vh;
}

/* Projects section Styles */

.projects-section{
  padding: 10px;
}
.banner{
  margin: 4% auto;
  background-color: var(--beige);
  width: 60%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 10px var(--shadow);
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.card{
  font-family: 'Outfit', sans-serif;
  padding: 10px;
  background-color: var(--beige);
  width: 30%;
  border-radius: 10px;
  box-shadow: 2px 4px 20px 4px var(--shadow);
}
.card:hover{
  background-color: #57D2F4;
}
.card a{
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--purple);
}

.card p{
  font-size: 1.5rem;
}

/*Styles for Aboutme Section*/

.aboutme-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutme-card{
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  background-color: var(--beige);
  width: 60%;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 4px 20px 4px var(--shadow);
}

/*Styles for skills section*/

.skills-section{
  margin: auto;
  padding: 3%;
  background-color: var(--beige);
  width: 60%;
  border-radius: 10px;
  box-shadow: 2px 4px 20px 4px var(--shadow);
}
.player-card{
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.player-card h2{
  margin: 2% 0;
}
.bio{
  width: 50%;
}
.bio img{
  border-radius: 10px;
  box-shadow: -19px 15px 20px 2px var(--shadow);
}
.id-photo-background{
  border-radius: 10px;
  background-color: var(--light-blue);
}
.skills{
  margin: auto;
  width: 30%;
  height: auto;
}
.skill-board{
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.skill-logo{
  width: 50px;
  height: 50px;
}

/*Footer styles*/

.footer{
  margin-top: 3%;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials > * {
  width: 50px;
  height: 50px;
}
#idPhoto2{
  width: 10vw;
  height: 20vh;
}


